{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block body %}
    <!--<h2>Post Details</h2><br>-->
    <br>
    <h4><a href= {{ post.url }}>{{ post.title.title() }}</a></h4>
    <br>
    <ul>
        <li><b>Cost:</b> {{ post.price }}</li>
        <li><b>Bedrooms:</b> {{ post.bedrooms }}</li>
        <li><b>Area:</b> {{ post.area }}</li>
        <li><b>Location:</b> {{ post.location.title() }}</li>
    </ul>
    <p>
        <b><u>Posting</u></b><br/>
        {% autoescape false %}
            {{ test | replace("n@nn@ih", "<br/>") }}
        {% endautoescape %}
    </p>

    <h3>Candidates</h3>
    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger.name }}</li>
        {% else %}
            <li>No names posted.</li>
        {% endfor %}
    </ul>

{% endblock %}
