{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block body %}
    {% if district == '' %}
        <h1>Housing</h1>
    {% else %}
        <h1>Housing in {{ district.title() }}, {{ state.title() }}</h1>
    {% endif %}

    <form action="{{ url_for('post') }}" method="post" >
            <div class="form-group">
                <select class="form-control" name="post_id">
                    {% for post in craigslist %}
                        {% if post.bedrooms == '1' %}
                            <option value="{{ post.id }} {{ name }} {{ state }} {{ district }}">{{ post.bedrooms }} bedroom for {{ post.price }}</option>
                        {% elif post.bedrooms == 'None' %}
                            <option value="{{ post.id }} {{ name }} {{ state }} {{ district }}">Unknown bedrooms for {{ post.price }}</option>
                        {% else %}
                            <option value="{{ post.id }} {{ name }} {{ state }} {{ district }}">{{ post.bedrooms }} bedrooms for {{ post.price }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Search</button>
            </div>
        </form>

{% endblock %}
